<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
    #app {
        width: 100vw;
        height: 100vh;
    }
    </style>
</head>
<body>
    <div id="app" v-bind:style="'background:rgba(0,0,0,'+ range / 100 +')'">
        <!-- 
            使用了v-bind指令的属性它的值就不在是字符串了 是变量
         -->

         <input type="range" v-model="range" />
         {{range / 100}}
        <input
            v-for="(item, i) in list"
            v-bind:index="isShow"
            v-bind:disabled="i === 0"
            v-bind:class="'item'"
        />
    </div>

    <script>
        
        const vm = new Vue({
            el: '#app',
            data: {
                list: ['a', 'b', 'c'],
                isShow: false,
                range: 0
            },
            
        })
    </script>
</body>
</html>