<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- 
            如果频繁切换
            用v-show 几十个几百个 超过上千个元素就不考虑用v-show 会占用很多内存
            如果不频繁切换
            用v-if 
         -->
        <ul>
            <li v-for="item in num" v-if="false">{{item}}</li>
        </ul>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                num: 100000
            }
        })
    </script>
</body>
</html>