<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <title>Document</title>
    <style>
        body {
            margin: 0;
        }

        ul,
        li {
            margin: 0;
            padding: 0;
            list-style: none
        }

        #app {
            margin: 200px auto;
            display: flex;
            justify-content: center
        }

        .row .col {
            padding: 5px
        }

        .col span {
            padding: 5px
        }
    </style>
</head>

<body>
    <div id="app">

        <ul class="row">
            <li class="col" v-for='i in 9'>
                <span v-for='j in i'>{{j}}X{{i}}={{j*i}}</span>
            </li>
        </ul>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
    })
</script>

</html>